<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>mujhe</string>
		<key>shortcut</key>
		<string>muje</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hoon</string>
		<key>shortcut</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>kuchh</string>
		<key>shortcut</key>
		<string>kuch</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tujhe</string>
		<key>shortcut</key>
		<string>tuje</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>maine</string>
		<key>shortcut</key>
		<string>mene</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ek</string>
		<key>shortcut</key>
		<string>eak</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>zyada</string>
		<key>shortcut</key>
		<string>zayada</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>baatein</string>
		<key>shortcut</key>
		<string>baate</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>kahan</string>
		<key>shortcut</key>
		<string>kaha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>loonga</string>
		<key>shortcut</key>
		<string>lunga</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>karoon</string>
		<key>shortcut</key>
		<string>karu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>baad mein</string>
		<key>shortcut</key>
		<string>badme</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>doonga</string>
		<key>shortcut</key>
		<string>dunga</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>kyun</string>
		<key>shortcut</key>
		<string>kyu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thoda</string>
		<key>shortcut</key>
		<string>thoda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>samajh</string>
		<key>shortcut</key>
		<string>samaj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>doosre</string>
		<key>shortcut</key>
		<string>dusre</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>jaoonga</string>
		<key>shortcut</key>
		<string>jaunga</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tu ne</string>
		<key>shortcut</key>
		<string>tune</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bataana</string>
		<key>shortcut</key>
		<string>batana</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>haan</string>
		<key>shortcut</key>
		<string>ha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>shaadi</string>
		<key>shortcut</key>
		<string>shadi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>haan</string>
		<key>shortcut</key>
		<string>haa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>kaise</string>
		<key>shortcut</key>
		<string>kese</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>samjha</string>
		<key>shortcut</key>
		<string>samja</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>accha</string>
		<key>shortcut</key>
		<string>acha</string>
	</dict>
</array>
</plist>
